<footer class="site-footer">
  <div class="page-width">
    <p>© {{ 'now' | date: "%Y" }} {{ shop.name }}</p>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [],
  "blocks": [],
  "presets": [{ "name": "Footer" }]
}
{% endschema %}
